@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 1vh;
}

.h-screen-dynamic {
  height: calc(var(--vh) * 100);
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
